.changepassword {
    min-width: 300px;
    max-width: 450px;
    margin: 50px auto;
}
.changepassword > div {
    width: 90%;
    margin: auto;
}

.changepassword .image {
    margin-bottom: 30px;
}
.changepassword ul {
    padding: 0;
}
.changepassword ul li {
    margin-bottom: 15px;
}
.changepassword ul li input {
    border: 2px solid #eee;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.changepassword ul li input:hover, 
.changepassword ul li input:focus {
    border-color: var(--main-color);
}
.changepassword ul li .submit-btn {
    background-color: var(--main-color);
    width: 100%;
    padding: 15px 30px;
    color: white;
    font-weight: 600;
}
.changepassword .forgot {
    margin: 20px 0 40px;
    color: blue;
    text-align: center;
}
.changepassword p {
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
}
.changepassword .login-btn {
    background-color: var(--or-color);
    display: block;
    width: 100%;
    color: white;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}